# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea
logs/*.log

cultural_house_warriors/local_settings.py
*.log

tmp/
media/
