{% extends 'layouts/main.html' %}
{% load staticfiles %}


{% block main %}
<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center to_rtl">
                            <p class="lead text-white">جنگ عراق با ایران که در ایران با نام جنگ تحمیلی یا دفاع مقدس و در زمان صدام در عراق با نام قادسیهٔ صدام شناخته می‌شود، طولانی‌ترین جنگ متعارف در قرن بیستم میلادی و دومین جنگ طولانی این قرن پس از جنگ ویتنام بود که نزدیک به هشت سال به طول انجامید.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>

    <section class="section section-lg section-nucleo-icons pb-250">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center to_rtl">
                    <h2 class="display-3">جنگ ایران و عراق</h2>
                    <p class="lead">در این روز درگیری‌های پراکنده مرزی دو کشور با یورش هم‌زمان نیروی هوایی عراق به ده فرودگاه نظامی و غیرنظامی ایران و تهاجم نیروی زمینی این کشور در تمام مرزها به یک جنگ تمام عیار تبدیل شد هرچند مقامات عراقی معتقد بودند که جنگ از ۴ سپتامبر با حملات توپخانه‌ای ایران به شهرهای مرزی عراق آغاز شده‌است.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg section-shaped">
        <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container py-md to_rtl">
            <div class="row row-grid justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h3 class="display-3 text-white">
                        <span>از لحاظ استراتژیک</span>
                        <span class="text-white">یکی از مهم‌ترین برخوردهای</span>
                    </h3>
                    <p class="lead text-white">که منافع تقریباً همه کشورهای جهان را بدون استثنا تهدید کرد و تأثیر مستقیم آن بر کشورهایی وارد شد که بیشترین ذخایر نفتی جهان را داشتند. در طول جنگ ثابت شد که پیروزی هر یک از دو کشور ایران یا عراق موجب برهم‌خوردن ثبات و توازن قوا در منطقه خواهد شد به همین دلیل ابرقدرت‌ها کوشیدند تا هیچ‌کدام از این دو کشور پیروز نشوند و هر دو را با زخم‌هایی عمیق و طولانی رها کنند.</p>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>


    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-center">
                <div class="col-lg-8 text-center to_rtl">
                    <h2 class="display-3">
                        <span>جنگ ایران و عراق</span>
                        <span class="text-success">۸ سال جنگ تحمیلی</span>
                    </h2>
                    <p class="lead">از بعد نظامی عراق با استفاده از عنصر غافلگیری در ابتدای جنگ موفق شد بخش‌هایی از خاک ایران از جمله شهر خرمشهر را اشغال نماید. ایران در سال‌های دوم و سوم جنگ موفق شد بیشتر مناطق اشغالی از جمله خرمشهر را آزاد نموده و از سال ۱۹۸۴ جنگ را به داخل خاک عراق بکشاند.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}