{% extends 'layouts/main.html' %}
{% load staticfiles %}
{% load i18n %}


{% block main %}
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <form action="{% url 'warriors:warriors' %}" method="post">
                        {% csrf_token %}

                        <div class="row justify-content-center">

                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <img id="blah" src="{% static 'home/assets/img/theme/default_800.png' %}" alt="">
                                </div>
                            </div>

                            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">

                                <div class="card-profile-actions py-4 mt-lg-0">
                                    <div class="form-group">
                                        <div class="input-group to_rtl">
                                           <input type="text" name="photographer_name" placeholder="{% trans "Photographer name" %}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group to_rtl">
                                        <input name="image" type='file' onchange="readURL(this);" class="form-control form-control-alternative"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 order-lg-1">
                                <div class="card-profile-actions py-4 mt-lg-0">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input name="shooting_date" style="text-align: right" class="form-control datepicker" placeholder="{% trans "Shooting date" %}" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-5">
                            <table class="table to_rtl">
                                <caption class="to_rtl">{% trans "List of soldier" %}</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{% trans "Surname" %}</th>
                                        <th scope="col">{% trans "Father name" %}</th>
                                        <th scope="col">{% trans "Responsibility" %}</th>
                                        <th scope="col">{% trans "Membership type" %}</th>
                                        <th scope="col">{% trans "Situation" %}</th>
                                        <th scope="col">{% trans "Workplace" %}</th>
                                        <th scope="col">{% trans "Phone" %}</th>
                                        <th scope="col">{% trans "Type" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in soldiers_count %}
                                    <tr>
                                        <th scope="row">{{ i }}</th>
                                        <td><input type="text" name="soldier_name" class="form-control" /></td>
                                        <td><input type="text" name="father_name" class="form-control" /></td>
                                        <td><input type="text" name="responsibility" class="form-control" /></td>

                                        <td>
                                            <select name="soldier_membership_type" class="form-control form-control-alternative">
                                                <option value="">...</option>
                                                {% for k, v in memberships %}
                                                    <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>

                                        <td>
                                            <select name="soldier_situation" class="form-control form-control-alternative">
                                                <option value="">...</option>
                                                {% for k, v in situations %}
                                                    <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>

                                        <td><input type="text" name="workplace" class="form-control" /></td>
                                        <td><input type="text" name="phone" class="form-control" /></td>

                                        <td>
                                            <select name="soldier_type" class="form-control form-control-alternative">
                                                <option value="">...</option>
                                                {% for k, v in soldiers_type %}
                                                    <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <div class="text-center mt-5">
                            <table class="table to_rtl">
                                <tbody>
                                    <tr>
                                        <td><label for="owner_phone">{% trans "Own phone" %}</label></td>
                                        <td><input type="text" name="owner_phone" id="owner_phone" class="form-control" /></td>
                                        <td><label for="division_commander">{% trans "Division commander" %}</label></td>
                                        <td><input type="text" name="division_commander" id="division_commander" class="form-control" /></td>
                                    </tr>

                                    <tr>
                                        <td><label for="operational_area">{% trans "Operational area" %}</label></td>
                                        <td><input type="text" name="operational_area" id="operational_area" class="form-control" /></td>
                                        <td><label for="company_commander">{% trans "Company commander" %}</label></td>
                                        <td><input type="text" name="company_commander" id="company_commander" class="form-control" /></td>
                                    </tr>

                                    <tr>
                                        <td><label for="photographer_position">{% trans "Photographer address" %}</label></td>
                                        <td><input type="text" name="photographer_position" id="photographer_position" class="form-control" /></td>
                                        <td><label for="battalion_commander">{% trans "Battalion commander" %}</label></td>
                                        <td><input type="text" name="battalion_commander" id="battalion_commander" class="form-control" /></td>
                                    </tr>

                                    <tr>
                                        <td><label for="camp_name">{% trans "Camp name" %}</label></td>
                                        <td><input type="text" name="camp_name" id="camp_name" class="form-control" /></td>
                                        <td><label for="batch_commander">{% trans "Batch commander" %}</label></td>
                                        <td><input type="text" name="batch_commander" id="batch_commander" class="form-control" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-center mt-5">
                            <textarea name="description" id="description" placeholder="{% trans "Description" %}" cols="30" rows="10" class="form-control to_rtl"></textarea>
                        </div>

                        <div class="text-center mt-5">
                            <table class="table to_rtl">
                                <tbody>
                                    <tr>
                                        <td><label for="surname">{% trans "Surname" %}</label></td>
                                        <td><input type="text" name="surname" id="surname" class="form-control" /></td>
                                        <td><label for="supervisor">{% trans "Supervisor" %}</label></td>
                                        <td><input type="text" name="supervisor" id="supervisor" class="form-control" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <button class="btn btn-icon btn-2 btn-primary" type="submit">
                                        <span class="btn-inner--icon"><i class="ni ni-send"></i> {% trans "Send info" %}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}