{% load staticfiles %}
{% load i18n %}

<footer class="footer has-cards">
    <div class="container">
        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6"><div class="copyright">&copy; 2018</div></div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item"><a href="{% url 'warriors:warriors' %}" class="nav-link" target="_blank">{% trans 'warrior registration' %}</a></li>
                    <li class="nav-item"><a href="{% url 'warriors:home' %}" class="nav-link" target="_blank">{% trans 'home' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>