@font-face {
  font-family: shabnam;
  src: url(../font/shabnam/Shabnam.woff);
}

div, p, select, option, ul, li, html, body {font-family: shabnam, serif !important;}
.to_rtl{direction: rtl;text-align: right}
.without_border{border: 0;}
#add_soldier{cursor: pointer;}
.remove_soldier {cursor: pointer;}
.remove_soldier i{font-size: 18px;color: #b33131de;}
.modify_select{width: 85px;}
.modify_table{font-size: 14px;}
.table th{text-align: center;}
.bd-table{background: #fff;}
.bd-calendar {width: auto !important;}
.bd-table td {padding: 0;margin: 0;}
.bd-table-days button, .bd-next, .bd-prev{font-size: 14px;}
.bd-goto-today{width: auto;}
.db-title{width: auto !important;}
