.to_rtl{direction: rtl;text-align: right}
.without_border{border: 0;}
#add_soldier{cursor: pointer;}
.remove_soldier {cursor: pointer;}
.remove_soldier i{font-size: 18px;color: #b33131de;}
.modify_select{width: 85px;}
.modify_table{font-size: 14px;}
.table th{text-align: center;}